* {
	box-sizing: border-box;
}

body {
	max-width: 1120px;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
	font-family: 'Montserrat', sans-serif;
}
